.align-items-center {
     -ms-flex-align: center!important;
     align-items: center!important;
 }
 .justify-content-between {
     -ms-flex-pack: justify!important;
     justify-content: space-between!important;
 }
 .d-flex {
     display: -ms-flexbox!important;
     display: flex!important;
 }
 .nav {
     display: -ms-flexbox;
     display: flex;
     -ms-flex-wrap: wrap;
     flex-wrap: wrap;
     padding-left: 0;
     margin-bottom: 0;
     list-style: none;
 }

 [type=button]:not(:disabled), [type=reset]:not(:disabled), [type=submit]:not(:disabled), button:not(:disabled) {
     cursor: pointer;
 }
 .btn-group-sm>.btn, .btn-sm {
     padding: .25rem .5rem;
     font-size: .875rem;
     line-height: 1.5;
     border-radius: .2rem;
 }
 .btn-primary {
     color: #fff;
     background-color: #007bff;
     border-color: #007bff;
 }

 button, select {
     text-transform: none;
 }
 button, input {
     overflow: visible;
 }

 .mr-4, .mx-4 {
    margin-right: 1.5rem!important;
}

.rounded-circle {
    border-radius: 50%!important;
}
img {
    vertical-align: middle;
    border-style: none;
}
